html,body{
	margin:0;
	padding:0;
	background-color:#deccff;
}

#container{
	margin:auto;
	margin-top:100px ;
	width:60vw;
	height:100vh;
}

#container>div{
	float:left;
	height:150px;
	width:200px;
	margin:20px 20px;
	opacity:.8;
}

img{
	height:150px;
	width:200px;
}

#container>div:hover{
	position:relative;
	z-index: 5;
	opacity:1;
	transform:rotate(360deg) scale(2.5);
	transition:transform .2s;
}