html,body{
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
	background-color:#deccff;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
}
#container{
	width:60vw;
}

#container>div{
	border: 1px solid black;
	display: inline-flex;
	height:150px;
	width:200px;
	padding:20px 20px;
	opacity:.8;
}

img{
	height:150px;
	width:200px;
}

#container>div:hover{
	position:relative;
	z-index: 5;
	opacity:1;
	transform:rotate(360deg) scale(2);
	transition:transform .25s;
	border:0;
}